<p>
  <input type="file" class="upload" (change)="changeListener($event.target.files)">
</p>
<div class="container">
<div class="table-responsive-sm">
  <table class="table table-sm table-hover table-bordered">
    <tr class="table-dark">
      <th>tickTime</th>
      <th>tradeTime</th>
      <th>coin</th>
      <th>exchange</th>
      <th>openingPrice</th>
      <th>highPrice</th>
      <th>lowPrice</th>
      <th>tradePrice</th>
    </tr>
    <tr  *ngFor="let row of data">
      <td>{{row.tickTime}}</td>
      <td>{{row.tradeTime}}</td>
      <td>{{row.coin}}</td>
      <td>{{row.exchange}}</td>
      <td>{{row.openingPrice}}</td>
      <td>{{row.highPrice}}</td>
      <td>{{row.lowPrice}}</td>
      <td>{{row.tradePrice}}</td>
    </tr>
  </table>
</div>
</div>
